.player1, 
.player2{
    position: absolute;
}



.ball{
    position: absolute;
    /* left:100px; */
    border-radius: 50%;
}

/* .game-field{
    position: relative;
    top: 50px;
    left:50px
} */