body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.player1, 
.player2{
    position: absolute;
}



/* .ball{
    position: absolute;
    border-radius: 50%;
} */

#game-field{
    position: relative;
    top: 150px;
    border: 2px solid rgb(255, 255, 255);
}
.gameScore{
    position: relative;
    font-size: 40px;
    color: white;
    left: 28.7%;
    /* left: 50%; */
    /* right: -50%; */
}